.calculator__keys { 
    display: grid; 
  }

  #botoes{
    margin: 2px;
    border-radius: 10px;
    border-color: rgb(112, 109, 109);
    border-width: 1px;
    width: 80px; height: 80px;
    font-size:large;
    transition: 0.2s;
  }

  #botoes:hover{
    background-color:lightblue;
    transition: 0.2s;
  }

  #botaoigual{
    margin: 2px;
    border-radius: 10px;
    border-color: rgb(112, 109, 109);
    border-width: 1px;
    width: 80px; height: 80px;
    background-color: orange;
    transition: 0.2s;
  }

  #botaoigual:hover{
    background-color: rgb(255, 193, 78);
    transition: 0.2s;
  }


  #calculator__display{
    width: 100%;
    color: white;
    font-size: x-large;
    margin: 10px;


  }

  #calculadora_corpo{
    margin-left: 36%;
    margin-right: 36%;
    border-radius: 20px;
    background-color: rgba(34, 52, 54, 0.13);
    box-shadow: 5px 5px 2px rgb(0, 0, 0);
  }

  .calculator{
    border-radius: 10px;
    text-align: right;
    display: flex;
    height: 50px;
    background-color: black;
    margin-bottom: 10%;
    margin-top:5%;
  }

  .calculadora{
    margin-top: 5%;
  }
  